<form action="/sessions/create">
    <label>Username</label>
    <input type="text" name="username" placeholder="">
    <br>
    <label>Password</label>
    <input type="password" name="password" placeholder="">
    <br>
    <input type="submit">
</form>